.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
  height: 100px;
  background-blend-mode: screen;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  font-size: 24px;
  list-style: none;
  padding: 10px;
  margin: 10px;
}
.res-card {
  width: 245px;
  height: 350px;
  padding: 15px;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-evenly;
}

.filter-btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
}
